@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 1.7em;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

h2 {
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
}

a {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}