@import './sass/config/colours';

body {
  background: url('http://api.thumbr.it/whitenoise-361x370.png?background=e3e3e3ff&noise=626262&density=15&opacity=15');
}

.root {
  display: flex;
  width: 100%;
  heigth: 100%;
}

.app {
  width: 100%;
  height: 100%;
  &__container {
    width: 80%;
    color:blue;
  }
}